<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          {% if site.mail %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> 
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>

            <a href="https://github.com/{{ include.github_username }}">
              <span class="icon icon--github">
                <i class='fa fa-github fa-3x' style="color:#828282"></i>
              </span>
            </a>

          {% endif %}

          {% if site.twitter_username %}

            <a href="https://twitter.com/{{ include.twitter_username }}">
              <span class="icon icon--twitter">
                <i class='fa fa-twitter fa-3x' style="color:#828282"></i>
              </span>
            </a>

          {% endif %}

          {% if site.linkedin_url and  site.linkedin_username%}
          
            <a href="{{ include.linkedin_url }}">
              <span class="icon">
                <i class='fa fa-linkedin fa-3x' style="color:#828282"></i> 
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
