<!DOCTYPE html>
<html>
<!-- Stop checking out my page code. There is nothing to see here ;-), Max  -->
  {% include head.html %}
  {% include google_analytics.html %}
  <img id="cover.png" src="{{ site.baseurl}}/images/cover.png" width=100%>
  <body>
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
	{{ content }}
	{% include comments.html %}
      </div>
    </div>



    {% include footer.html %}

  </body>

</html>
